@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    background-color: #f1f5f980;
    font-family: Nunito,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-feature-settings: normal;
}

body {
    margin: 0;
    line-height: inherit;
}